* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #fff8f0;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #5c3a21;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20 px;
}

.nav a {
    text-decoration: none;
    color: #5c3a21;
    font-weight: 500;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero {
    background-image: url( 'img/coffee\ cup.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: white;
    text-align: center;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #c59d5f;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #a07d47;
}

.about {
    background-color: #fff8f0;
    padding: 80px 0;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    color: #5c3a21;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto;
    color: #444;
}

.menu {
    padding: 80px 0;
    background-color: #ffffff;
    text-align: center;
}

.menu h2 {
    font-size: 36px;
    color: #5c3a21;
    margin-bottom: 40px;
}

.menu-items {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.menu-item {
    background-color: #fff8f0;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    transition: transform 0.3s;
}

.menu-item:hover {
    transform: translateY(-5px);
}

.menu-item img {
    width: 100px;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 15px;
}

.menu-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #5c3a21;
}

.menu-item p {
    font-size: 16px;
    color: #333;
}

.contacts {
    background-color: #f0e7dc;
    padding: 60px 0;
    text-align: center;
}

.contacts h2 {
    font-size: 32px;
    color: #5c3a21;
    margin-bottom: 20px;
}

.contacts p {
    font-size: 18px;
    color: #333;
    margin: 8px 0;
}